<div class="jumbotron">
<h1>About Us</h1>
<p> At EirMD we understand that a visit to the doctor's office can be a time-consuming and stressful experience. Between work schedules, children, and endless other obligations- a simple checkup generally results in most of your day spent in a waiting room. EirMD wants to bring the doctors to you. We believe house calls save valuable time, reduce the chance of catching illnesses from other patients, and provide a compassionate experience within the comfort of your own home. 

EirMD employs a team of board-certified medical practitioners, nurses, and physicians throughout the country. Simply pull up the website, explain a few of your symptoms, and EirMD will send over the doctor of your choice to take care of the checkup. Let's cut out the waiting room.</p></div>